<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">

<style>
    .btn-group {
        margin-right: 2px;
    }
</style>

<section>
    <div class="title">ADMIN</div>
    <div class="div-btn-wrap" style="text-align: left; display: flex">
        <!-- 카테고리 선택 -->
        <div class="form-group">
            <select class="form-select" id="select-subject">
                <option>카테고리 선택</option>
                <th:block th:each="s : ${subjects}">
                    <option id="option-subject" th:value="${s.isubject}" th:text="${s.subject}"></option>
                </th:block>
            </select>
        </div>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-info">카테고리 변경</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info dropdown-toggle show" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 50px);" data-popper-placement="bottom-start">
                    <th:block th:each="s : ${subjects}">
                        <a class="dropdown-item" th:iboard="${s.isubject}" th:onclick="subjectFl(this.getAttribute('iboard'))" th:text="${s.subject}"></a>
                    </th:block>
                </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-success">공개 여부</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success dropdown-toggle show" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 50px);" data-popper-placement="bottom-start">
                    <a class="dropdown-item" th:onclick="publicFl('Y')">공개</a>
                    <a class="dropdown-item" th:onclick="publicFl('N')">비공개</a>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-danger" th:onclick="deleteFl()">게시글 삭제</button>
    </div>

    <table class="table table-hover table-admin">
        <thead>
        <tr>
            <th style="width: 100px">체크 여부</th>
            <th>글 번호</th>
            <th>공개 여부</th>
            <th>카테고리</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${list}">
            <td><input class="form-check-input" name="check-iboard" type="checkbox" th:value="${l.iboard}"></td>
            <td th:text="${l.iboard}">글 번호</td>
            <td th:text="${l.publicFl}">공개 여부</td>
            <td th:text="${l.subject}">카테고리</td>
            <td th:text="${l.nm}">작성자</td>
            <td th:text="${l.title}">제목</td>
            <td th:text="${l.createdAt}">작성일</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a class="page-link" th:if="${1 < pagination.start}" th:href="@{/admin(page=1, subject=${subject})}">&laquo;</a>
        <a class="page-link" th:if="${1 < pagination.start}" th:href="@{/admin(page=${pagination.start - pagination.pageCnt}, subject=${subject})}">&lt;</a>
        <div class="page-item" th:each="page, i : ${#numbers.sequence(pagination.start, pagination.end)}">
            <a class="page-link" th:href="@{/admin(page=${i.current}, subject=${subject})}" th:text="${i.current}"></a>
        </div>
        <a class="page-link" th:if="${pagination.end < pagination.realEnd}" th:href="@{/admin(page=${pagination.end + 1}, amount=${pagination.amount}, subject=${subject})}">&gt;</a>
        <a class="page-link" th:if="${pagination.end < pagination.realEnd}" th:href="@{/admin(page=${pagination.realEnd}, amount=${pagination.amount}, subject=${subject})}">&raquo;</a>
    </div>
</section>

<script th:inline="javascript">
    $('#select-subject').change(function () {
        const subject = $(this).val();
        location.href = '/admin?subject=' + subject;
    });

    function deleteFl() {
        const arr = getIboardArr();

        if(arr.length === 0) {
            alert('최소 1개는 선택해주세요.');
            return false;
        } else {
            const dto = {"list" : arr};

            $.ajax({
                type: 'delete',
                url: '/admin',
                contentType: "application/json",
                data: JSON.stringify(dto),
                success: function (result) {
                    if (result === 1) {
                        alert('정상적으로 삭제되었습니다.')
                        location.reload();
                    } else {
                        alert('잠시 후 다시 시도하세요.')
                    }
                }
            });
        }
    }

    function subjectFl(isubject) {
        const arr = getIboardArr();

        if(arr.length === 0) {
            alert('최소 1개는 선택해주세요.');
            return false;
        } else {
            const dto = {"list" : arr, "isubject" : isubject};

            $.ajax({
                type: 'patch',
                url: '/admin/subject',
                contentType: "application/json",
                data: JSON.stringify(dto),
                success: function (result) {
                    if (result === 1) {
                        alert('정상적으로 처리되었습니다.')
                        location.reload();
                    } else {
                        alert('잠시 후 다시 시도하세요.')
                    }
                }
            });
        }
    }

    function publicFl(fl) {
        const arr = getIboardArr();

        if(arr.length === 0) {
            alert('최소 1개는 선택해주세요.');
            return false;
        } else {
            const dto = {"list" : arr, "publicFl" : fl};

            $.ajax({
                type: 'patch',
                url: '/admin/public',
                contentType: "application/json",
                data: JSON.stringify(dto),
                success: function (result) {
                    if (result === 1) {
                        alert('정상적으로 처리되었습니다.')
                        location.reload();
                    } else {
                        alert('잠시 후 다시 시도하세요.')
                    }
                }
            });
        }
    }

    // checkbox에 있는 pk 값 가져오기
    // 여러군데 많이 쓰이므로 메소드를 따로 분리해놓음
    function getIboardArr() {
        const arr = [];
        const checkbox = $('input[name=check-iboard]:checked');
        const cnt = checkbox.length;

        if(cnt >= 1) {
            checkbox.each(function (idx) {
                // checkbox의 부모(parent)인 td에 접근 -> 또 다시 부모(parent)인 tr에 접근 ->
                // eq 메소드를 통해 해당 index에 해당하는 자식 요소를 찾음 -> 찾은 요소의 text 값을 가져옴 -> iboard 값에 접근
                const td = checkbox.parent().parent().eq(idx).children().eq(1).text();
                arr.push(td);
            });
        }
        // 없으면 없는대로 반환함, fl용
        return arr;
    }
</script>
</html>