<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}" layout:fragment="section">

<style> .btn-group { margin-right: 2px; } </style>

<section>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">관리자 페이지 메인</h1>
                <p class="lead mb-0">관리자 페이지 메인 화면입니다.</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <div class="div-btn-wrap" style="text-align: left; display: flex">
                    <div class="form-group">
                        <select class="form-select" id="select-category">
                            <th:block th:if="${category == 0}"><option>게시판 선택</option></th:block>
                            <th:block th:if="${category == 1}"><option>NOTICE</option></th:block>
                            <th:block th:if="${category == 2}"><option>DEV</option></th:block>
                            <th:block th:if="${category == 3}"><option>DIARY</option></th:block>
                            <th:block th:if="${category == 4}"><option>SONY A6000</option></th:block>
                            <th:block th:if="${category == 5}"><option>GUEST BOOK</option></th:block>
                            <th:block th:each="c : ${categories}">
                                <option id="option-category" th:value="${c.icategory}" th:text="${c.category}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-success">공개 여부</button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success dropdown-toggle show" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                            <div class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 50px);" data-popper-placement="bottom-start">
                                <a class="dropdown-item" th:onclick="publicFl('Y')">공개</a>
                                <a class="dropdown-item" th:onclick="publicFl('N')">비공개</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" th:onclick="deleteFl()">게시글 삭제</button>
                </div>

                <table class="table table-hover table-admin">
                    <thead>
                    <tr>
                        <th style="width: 110px">전체 선택 <input type="checkbox" class="form-check-input" id="input-check-flag" th:onclick="checkFl()"> </th>
                        <th>글 번호</th>
                        <th>게시판</th>
                        <th>카테고리</th>
                        <th>공개 여부</th>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="l : ${list}">
                        <td><input class="form-check-input" name="check-iboard" type="checkbox" th:value="${l.iboard}"></td>
                        <td th:text="${l.iboard}">글 번호</td>
                        <td th:text="${l.categoryNm}">게시판</td>
                        <td th:text="${l.subCategoryNm}">카테고리</td>
                        <td th:text="${l.publicFl}">공개 여부</td>
                        <td><a th:href="@{/board/read(category=${l.icategory}, post=${l.iboard})}"><th:block th:text="${l.title}"></th:block></a></td>
                        <td th:text="${l.createdAt}">작성일</td>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination">
                    <a class="page-link" th:if="${1 < pagination.start}" th:href="@{/admin(page=1, category=${category})}">&laquo;</a>
                    <a class="page-link" th:if="${1 < pagination.start}" th:href="@{/admin(page=${pagination.start - pagination.pageCnt}, category=${category})}">&lt;</a>
                    <div class="page-item" th:each="page, i : ${#numbers.sequence(pagination.start, pagination.end)}">
                        <a class="page-link" th:href="@{/admin(page=${i.current}, category=${category})}" th:text="${i.current}"></a>
                    </div>
                    <a class="page-link" th:if="${pagination.end < pagination.realEnd}" th:href="@{/admin(page=${pagination.end + 1}, amount=${pagination.amount}, category=${category})}">&gt;</a>
                    <a class="page-link" th:if="${pagination.end < pagination.realEnd}" th:href="@{/admin(page=${pagination.realEnd}, amount=${pagination.amount}, category=${category})}">&raquo;</a>
                </div>
            </div>

            <aside th:replace="~{fragments/sidebar :: sidebar}" />
        </div>
    </div>
</section>

<script th:inline="javascript">
    // 특정 게시판 선택
    $('#select-category').change(function () { location.href = '/admin?category=' + $(this).val(); });

    function deleteFl() {
        const arr = getIboardArr();

        if(arr.length === 0) { alert('최소 1개는 선택해주세요.'); return false; }
        else {
            if(confirm('삭제된 게시글은 복구할 수 없습니다. 정말로 삭제하시겠습니까?')) {
                const dto = {"list" : arr};

                $.ajax({
                    type: 'delete',
                    url: '/admin',
                    contentType: "application/json",
                    data: JSON.stringify(dto),
                    success: function (result) {
                        if (result === 1) { alert('정상적으로 삭제되었습니다.'); location.reload(); }
                        else { alert('잠시 후 다시 시도하세요.') }
                    }
                });
            }
        }
    }

    function publicFl(fl) {
        const arr = getIboardArr();

        if(arr.length === 0) { alert('최소 1개는 선택해주세요.'); return false; }
        else {
            const dto = {"list" : arr, "publicFl" : fl};

            $.ajax({
                type: 'patch',
                url: '/admin/public',
                contentType: "application/json",
                data: JSON.stringify(dto),
                success: function (result) {
                    if (result === 1) { alert('정상적으로 처리되었습니다.'); location.reload(); }
                    else { alert('잠시 후 다시 시도하세요.'); }
                }
            });
        }
    }

    // checkbox에 있는 pk 값 가져오기
    // 여러군데 많이 쓰이므로 메소드를 따로 분리해놓음
    function getIboardArr() {
        const arr = [];
        const checkbox = $('input[name=check-iboard]:checked');
        const cnt = checkbox.length;

        if(cnt >= 1) {
            checkbox.each(function (idx) {
                // checkbox의 부모(parent)인 td에 접근 -> 또 다시 부모(parent)인 tr에 접근 ->
                // eq 메소드를 통해 해당 index에 해당하는 자식 요소를 찾음 -> 찾은 요소의 text 값을 가져옴 -> iboard 값에 접근
                const td = checkbox.parent().parent().eq(idx).children().eq(1).text();
                arr.push(td);
            });
        }
        // 없으면 없는대로 반환함, fl용
        return arr;
    }

    function checkFl() {
        const isChecked = $('#input-check-flag').is(':checked');
        const checkbox = $('input[name=check-iboard]');

        if (isChecked) {
            checkbox.each(function () {
                checkbox.prop('checked', true);
            });
        } else {
            checkbox.each(function () {
                checkbox.prop('checked', false);
            });
        }
    }
</script>
</html>