<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.myblog.admin.AdminMapper">
    <select id="getPostAdmin">
        SELECT a.iboard, a.public_fl publicFl, a.isubject, c.name subject, b.nm, a.title, a.created_at createdAt
        FROM board a
        INNER JOIN user b
        ON a.iuser = b.iuser
        INNER JOIN board_subject c
        ON a.isubject = c.isubject
        <where>
            <if test="subject != 0">
                a.isubject = #{subject}
            </if>
        </where>
        ORDER BY a.iboard DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <update id="updPublicFl">
        <foreach collection="list" item="iboard" separator=";">
            UPDATE board SET
            public_fl = #{publicFl}
            WHERE iboard = #{iboard}
        </foreach>
    </update>

    <update id="updSubjectFl">
        <foreach collection="list" item="iboard" separator=";">
            UPDATE board SET
            isubject = #{isubject}
            WHERE iboard = #{iboard}
        </foreach>
    </update>

    <delete id="delPostFl">
        <foreach collection="list" item="iboard" separator=";">
            DELETE FROM board WHERE iboard = #{iboard}
        </foreach>
    </delete>

    <select id="getSubject">
        SELECT isubject, NAME SUBJECT
        FROM board_subject
    </select>

    <select id="getPostCnt">
        SELECT count(*)
        FROM board
        <where>
            <if test="isubject != 0">
                isubject = #{isubject}
            </if>
        </where>
    </select>
</mapper>