<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.myblog.board.BoardMapper">
    <select id="getPost" resultType="com.jy.myblog.board.model.BoardGetVo$Post">
        SELECT a.iboard, a.icategory, a.isubcategory, c.name subCategoryNm, b.nm, a.title, (SELECT COUNT(*) FROM board_comment WHERE iboard = a.iboard AND public_fl = 'Y') commentCnt, a.created_at createdAt
        FROM board a
        INNER JOIN user b
        ON a.iuser = b.iuser
        INNER JOIN board_subcategory c
        ON a.isubcategory = c.isubcategory
        <where>
            a.public_fl = 'Y' AND title != '' AND contents != ''
            <if test="icategory != 0">
                AND a.icategory = #{icategory}
            </if>
            <if test="keyword != null and keyword != ''">
                AND title LIKE ('%${keyword}%')
            </if>
        </where>
        ORDER BY a.iboard DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getPostPics">
        SELECT uuid_name
        FROM board_pic
        WHERE iboard = #{iboard}
    </select>

    <select id="getPostFile">
        SELECT iboard, iboardfile, original_name originalName, uuid_name uuidName
        FROM board_file
        WHERE iboard = #{iboard}
    </select>

    <select id="selPostFile">
        SELECT iboard, original_name originalName, uuid_name uuidName
        FROM board_file
        WHERE iboardfile = #{iboardfile}
    </select>

    <select id="selPost">
        SELECT a.iboard, a.icategory, a.title, b.nm, a.contents, a.created_at createdAt,
        (SELECT COUNT(*) FROM board_file WHERE iboard = a.iboard) fileCnt,
        (SELECT COUNT(*) FROM board_comment WHERE iboard = a.iboard AND public_fl = 'Y') commentCnt
        FROM board a
        INNER JOIN user b
        ON a.iuser = b.iuser
        WHERE a.iboard = #{iboard}
    </select>

    <insert id="insNullPost" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO board(icategory, isubcategory, iuser, title, contents) VALUES
        (#{icategory}, 1, #{iuser}, ' ', ' ')
    </insert>

    <insert id="insPostPic">
        INSERT INTO board_pic(iboard, original_name, uuid_name) VALUES (#{iboard}, #{originalName}, #{uuidName})
    </insert>

    <insert id="insPostFile">
        INSERT INTO board_file(iboard, original_name, uuid_name) VALUES (#{iboard}, #{originalName}, #{uuidName})
    </insert>

    <update id="updPost">
        UPDATE board SET
        title = #{title},
        contents = #{contents}
        WHERE iboard = #{iboard}
    </update>

    <delete id="delPost">
        DELETE FROM board WHERE iboard = #{iboard}
    </delete>

    <delete id="delPostPics">
        DELETE FROM board_pic WHERE iboard = #{iboard}
    </delete>

    <delete id="delPostPic">
        DELETE FROM board_pic WHERE uuid_name = #{uuidName}
    </delete>

    <select id="getTag">
        SELECT itag, NAME
        FROM tag
        WHERE NAME LIKE('%${tag}%')
    </select>

    <select id="getPostCnt">
        SELECT COUNT(*)
        FROM board
        <where>
            <if test="icategory != 0">
                icategory = #{icategory}
            </if>
            <if test="keyword != null and keyword != ''">
                title LIKE '%${keyword}%'
            </if>
        </where>
    </select>

    <select id="getComment">
        SELECT icomment, unm, upw, contents, created_at FROM board_comment WHERE iboard = #{iboard} AND public_fl = 'Y'
    </select>

    <insert id="insComment">
        INSERT board_comment(iboard, unm, upw, contents) VALUES(#{iboard}, #{unm}, #{upw}, #{contents})
    </insert>

    <update id="updComment">
        UPDATE board_comment SET contents = #{contents} WHERE icomment = #{icomment}
    </update>

    <update id="delComment">
        UPDATE board_comment SET public_fl = 'N' WHERE icomment = #{icomment}
    </update>

    <select id="getCommentPassword">
        SELECT upw FROM board_comment WHERE icomment = #{icomment}
    </select>

    <select id="getSubCategory">
        SELECT isubcategory, name FROM board_subcategory WHERE icategory = #{icategory} ORDER BY name
    </select>
</mapper>