<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.myblog.board.BoardMapper">
    <select id="getPost" resultType="com.jy.myblog.board.model.BoardGetVo$Post">
        SELECT a.iboard, a.icategory, a.isubject, b.nm, a.title, a.created_at createdAt
        FROM board a
        INNER JOIN user b
        ON a.iuser = b.iuser
        <where>
            a.public_fl = 'Y'
            <if test="subject != 0">
                AND a.isubject = #{subject}
            </if>
            <if test="keyword != null and keyword != ''">
                AND title LIKE ('%${keyword}%')
            </if>
        </where>
        ORDER BY a.iboard DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="selPost">
        SELECT a.iboard, a.isubject, a.title, a.contents, b.nm, a.created_at createdAt
        FROM board a
        INNER JOIN user b
        ON a.iuser = b.iuser
        WHERE a.iboard = #{iboard}
    </select>

    <insert id="insPost" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO board(isubject, iuser, title, contents) VALUES
        (#{isubject}, #{iuser}, #{title}, #{contents})
    </insert>

    <update id="updPost">
        UPDATE board SET
        title = #{title},
        contents = #{contents}
        WHERE iboard = #{iboard}
    </update>

    <delete id="delPost">
        DELETE FROM board WHERE iboard = #{iboard}
    </delete>

    <select id="getTag">
        SELECT itag, NAME
        FROM tag
        WHERE NAME LIKE('%${tag}%')
    </select>

    <select id="getPostCnt">
        SELECT COUNT(*)
        FROM board
        <where>
            <if test="isubject != 0">
                isubject = #{isubject}
            </if>
            <if test="keyword != null and keyword != ''">
                title LIKE '%${keyword}%'
            </if>
        </where>
    </select>
</mapper>