<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">
<section>
    <div class="title" th:text="${list.title}">TITLE</div>
    <th:block th:if="${#lists.size(list.posts) == 0}">
        작성된 게시글이 없습니다.
    </th:block>
    <th:block th:if="${#lists.size(list.posts) >= 1}">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${list.posts}">
                <td><a th:href="@{/board/read(subject=${list.isubject}, board=${l.iboard})}"><th:block th:text="${l.title}"></th:block></a></td>
                <td th:text="${l.nm}">작성자</td>
                <td th:text="${l.createdAt}">작성일</td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
        <div class="div-btn-wrap">
            <!-- "|location.href='@{/login}'|" -->
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/write(subject=${list.isubject})}'|">WRITE</button>
        </div>
    </th:block>
</section>
</html>