<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">
<section>
    <div class="title" th:text="${title}">TITLE</div>
    <table>
        <tr>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        <tr th:each="l : ${list}">
            <td><a th:href="@{/board/read(subject=${l.isubject}, board=${l.iboard})}"><th:block th:text="${l.getTitle()}"></th:block> </a></td>
            <td th:text="${l.nm}">작성자</td>
            <td th:text="${l.createdAt}">작성일</td>
        </tr>
    </table>
</section>
</html>