<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">

<style>
    .active>.page-link, .page-link.active {
        color: #FFF !important;
    }
</style>
<section>
    <div class="title" th:text="${list.title}">TITLE</div>
    <th:block th:if="${#lists.size(list.posts) == 0}">
        작성된 게시글이 없습니다.
    </th:block>
    <th:block th:if="${#lists.size(list.posts) >= 1}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 50%">제목</th>
                <th style="width: 25%">작성자</th>
                <th style="width: 25%">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${list.posts}">
                <td><a th:href="@{/board/read(subject=${list.isubject}, board=${l.iboard})}"><th:block th:text="${l.title}"></th:block></a></td>
                <td th:text="${l.nm}">작성자</td>
                <td th:text="${l.createdAt}">작성일</td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <a class="page-link" th:if="${1 < pagination.start}" th:href="@{/board/list(subject=${list.isubject}, page=1)}">&laquo;</a>
            <a class="page-link" th:if="${1 < pagination.start}" th:href="@{/board/list(subject=${list.isubject}, page=${pagination.start - pagination.pageCnt})}">&lt;</a>
            <div class="page-item" th:each="page, i : ${#numbers.sequence(pagination.start, pagination.end)}">
                <a class="page-link" th:href="@{/board/list(subject=${list.isubject}, page=${i.current})}" th:text="${i.current}"></a>
            </div>
            <a class="page-link" th:if="${pagination.end < pagination.realEnd}" th:href="@{/board/list(subject=${list.isubject}, page=${pagination.end + 1}, amount=${pagination.amount})}">&gt;</a>
            <a class="page-link" th:if="${pagination.end < pagination.realEnd}" th:href="@{/board/list(subject=${list.isubject}, page=${pagination.realEnd}, amount=${pagination.amount})}">&raquo;</a>
        </div>
    </th:block>

    <div style="width: 100%; display: flex; justify-content: center">
        <div class="input-group mb-3" style="width: 500px">
            <input type="search" class="form-control" placeholder="검색어를 입력해주세요." aria-describedby="button-addon2" style="margin-right: 5px">
            <button class="btn btn-primary" type="button" id="button-addon2">SEARCH</button>
        </div>
    </div>

    <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
        <div class="div-btn-wrap">
            <!-- "|location.href='@{/login}'|" -->
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/write(subject=${list.isubject})}'|">WRITE</button>
        </div>
    </th:block>
</section>
</html>