<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">
<style>
    section { height: auto; }
    footer { position: relative; top: 44px; }
    .card-text:last-child { margin-bottom: auto; !important; }
    .fade:not(.show) { display: none; }
</style>

<div class="modal fade modal-dialog-centered" id="modal-comment-update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">알림</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><textarea class="form-control" id="comment-contents-update" rows="3" style="resize: none"></textarea></p>
                <p><input class="form-control form-control-sm" id="comment-contents-update-upw" type="password" placeholder="작성 시 등록했던 패스워드를 입력해주세요."></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary btn-modal-confirm">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-dialog-centered" id="modal-comment-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">알림</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><input class="form-control form-control-sm" id="comment-contents-delete-upw" type="password" placeholder="작성 시 등록했던 패스워드를 입력해주세요."></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary btn-modal-confirm">확인</button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="title" th:text="${title}">TITLE</div>
    <table class="table table-post-read">
        <tr>
            <td class="td-info">제목</td>
            <td th:text="${post.title}">제목</td>
        </tr>
        <tr>
            <td class="td-info">작성자</td>
            <td th:text="${post.nm}">작성자</td>
        </tr>
        <tr>
            <td class="td-info">작성일</td>
            <td th:text="${post.createdAt}">작성일</td>
        </tr>
        <th:block th:if="${post.files != null}">
            <tr>
                <td class="td-info">첨부파일</td>
                <td style="background-color: #f7f7f7">
                    <th:block th:if="${#lists.size(post.files) != 0}"  th:each="f:${post.files}">
                        <a th:href="@{'file/download/' + ${f.iboardfile}}" th:text="${f.originalName}"></a>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr>
            <td colspan="2">
                <div id="contents"></div>
            </td>
        </tr>
    </table>

    <div class="div-btn-wrap">
        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <button type="button" class="btn btn-success" th:onclick="|location.href='@{/board/update(board=${post.iboard})}'|">수정</button>
            <button type="button" class="btn btn-danger" onclick="delPost()">삭제</button>
        </th:block>
        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/list(category=${post.icategory})}'|">목록</button>
    </div>

    <!-- 댓글 목록 -->
    <div id="div-comment-list-wrap">
        <div class="card border-secondary mb-3">
            <div class="card-header">COMMENT LIST</div>

            <th:block th:if="${post.comments == null}">
                <div class="card-body">
                    <p class="card-text">
                        등록된 댓글이 없습니다.
                    </p>
                </div>
            </th:block>

            <th:block th:if="${post.comments != null}">
                <div class="card-body">
                    <th:block th:each="c : ${post.comments}">
                        <p class="card-text">
                            <span th:text="'닉네임:' + ${c.unm}"></span> &nbsp; <span style="font-size: small; color: gray" th:text="${c.created_at}"></span>
                            <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-comment-update-modal-open" data-bs-toggle="modal" data-bs-target="#modal-comment-update" style="margin-left: 10px">수정</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" id="btn-comment-delete-modal-open" data-bs-toggle="modal" data-bs-target="#modal-comment-delete" style="margin-left: 10px">삭제</button>
                        </p>
                        <p class="p-comment-contents" th:text="${c.contents}"></p>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>

    <!-- 댓글 작성 -->
    <div id="div-comment-wrap">
        <div class="card border-secondary mb-3">
            <div class="card-header">COMMENT</div>
            <div class="card-body">
                <p class="card-text">
                    <span>닉네임: </span><span><input class="form-control form-control-sm" id="unm" type="text" placeholder="닉네임"></span>
                    <span style="margin-left: 10px">패스워드: </span><span><input class="form-control form-control-sm" id="upw" type="password" placeholder="패스워드"></span>
                    <button type="button" class="btn btn-outline-success btn-sm" style="margin-left: 10px" onclick="insComment()">등록</button>
                </p>
                <p><textarea class="form-control" id="comment-contents" rows="3" placeholder="내용을 입력해주세요." style="resize: none"></textarea></p>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    // 게시글 출력(html 코드이기 때문에 innerHTML로 객체에 있는 값을 출력)
    $(document).ready(function () {
        document.getElementById('contents').innerHTML = [[${post.contents}]];
    });

    $(document).click((e) => {
        // 댓글 수정 플래그
       if(e.target.id == 'btn-comment-update-modal-open') {
           let copyNode = e.target.parentNode.nextSibling.nextSibling; // 댓글 내용이 있는 <p> 요소 접근
           let copyText = copyNode.textContent; // <p>의 text를 빼옴
           let commentContentsUpdate = document.getElementById('comment-contents-update'); // text를 넣을 요소의 id 가져오기
           commentContentsUpdate.value = copyText; // text 넣기
       }

        // 댓글 삭제 플래그
        // ...
    });

    // 댓글 작성
    function insComment() {
        let unm = $('#unm');
        let upw = $('#upw');
        let commentContents = $('#comment-contents');
        let iboard = [[${param.post}]];

        if(!unm.val()) {
            alert('닉네임을 입력해주세요.');
            unm.focus();
            return false;
        } else if(!upw.val()) {
            alert('패스워드를 입력해주세요.');
            upw.focus();
            return false;
        } else if(!commentContents.val()) {
            alert('내용을 입력해주세요.');
            commentContents.focus();
            return false;
        } else {
            if(confirm('댓글을 등록하시겠습니까?')) {
                $.ajax({
                    type: 'post',
                    url: '/board/comment/write',
                    data: { 'iboard' : iboard, 'unm' : unm.val(), 'upw' : upw.val(), 'contents' : commentContents.val() },
                    success: function (result) {
                        const SUCCESS = 1;

                        if(result === SUCCESS) { alert('댓글이 정상적으로 등록되었습니다.'); location.reload(); }
                        else { alert('댓글 등록에 실패하였습니다.'); }
                    }
                });
            }
        }
    }

    // 게시글 삭제
    function delPost() {
        const iboard = [[${post.iboard}]];

        if(iboard !== 0) {
            if(confirm('삭제된 글은 복구할 수 없습니다. 정말 삭제하시겠습니까?')) {
                $.ajax({
                    type: 'delete',
                    url: '/board',
                    data: { "iboard" : iboard },
                    success: function (result) {
                        if (result !== 0) {
                            alert('게시글이 정상적으로 삭제되었습니다.');
                            location.href='/board/list?category=' + [[${post.icategory}]]
                        } else {
                            alert("게시글 삭제에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                        }
                    }
                })
            }
        }
    }
</script>
</html>