<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">

<style>
    #contents { height: 565px; }
</style>

<section>
    <div class="title" th:text="${title}">TITLE</div>
    <table class="table table-post-read">
        <tr>
            <td class="td-info">제목</td>
            <td th:text="${post.title}">제목</td>
        </tr>
        <tr>
            <td class="td-info">작성자</td>
            <td th:text="${post.nm}">작성자</td>
        </tr>
        <tr>
            <td class="td-info">작성일</td>
            <td th:text="${post.createdAt}">작성일</td>
        </tr>
        <th:block th:if="${post.files != null}">
            <tr>
                <td class="td-info">첨부파일</td>
                <td style="background-color: #f7f7f7">
                    <th:block th:if="${#lists.size(post.files) != 0}"  th:each="f:${post.files}">
                        <a th:href="@{'file/download/' + ${f.iboardfile}}" th:text="${f.originalName}"></a>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr>
            <td colspan="2">
                <div id="contents"></div>
            </td>
        </tr>
    </table>

    <div class="div-btn-wrap">
        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <button type="button" class="btn btn-success" th:onclick="|location.href='@{/board/update(board=${post.iboard})}'|">수정</button>
            <button type="button" class="btn btn-danger" th:onclick="delPost()">삭제</button>
        </th:block>
        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/list(category=${post.icategory})}'|">목록</button>
    </div>
</section>

<script th:inline="javascript">
    $(document).ready(function () {
        document.getElementById('contents').innerHTML = [[${post.contents}]];
    });

    function delPost() {
        const iboard = [[${post.iboard}]];

        if(iboard !== 0) {
            if(confirm('삭제된 글은 복구할 수 없습니다. 정말 삭제하시겠습니까?')) {
                $.ajax({
                    type: 'delete',
                    url: '/board',
                    data: {"iboard" : iboard},
                    success: function (result) {
                        if (result !== 0) {
                            alert('게시글이 정상적으로 삭제되었습니다.');
                            location.href='/board/list?category=' + [[${post.icategory}]]
                        } else {
                            alert("게시글 삭제에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                        }
                    }
                })
            }
        }
    }
</script>
</html>