<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">

<style>
    .ck.ck-editor__main>.ck-editor__editable {
        height: 680px;
        margin-bottom: 10px;
    }

    .ck.ck-editor {
        position: static;
    }
</style>

<section>
    <div class="title" th:text="${title}">TITLE</div>
    <div class="" th:object="${dto}">
        <div style="display: flex; margin-bottom: 10px">
            <label class="td-info" style="text-align: center; margin: auto">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control">
        </div>

        <!--        <tr>-->
        <!--            <td class="td-info">태그</td>-->
        <!--            <td colspan="2"><input type="text" id="tag" class="form-control"></td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <td class="td-info"></td>-->
        <!--            <td colspan="3"><div class="form-control" id="tag-list"><div id="tag-list-child"></div></div></td>-->
        <!--        </tr>-->

        <div id="editor" class="table table-post-read"></div>
    </div>

    <div class="div-btn-wrap">
        <!-- iboard는 String으로 넘어오기 때문에 null로 비교 o -->
        <th:block th:if="${iboard != null}">
            <button type="button" class="btn btn-success" onclick="updPost('insert')">등록</button>
        </th:block>
        <th:block th:if="${dto.iboard != 0}">
            <button type="button" class="btn btn-info" onclick="updPost('update')">수정</button>
        </th:block>
    </div>
</section>

<script th:inline="javascript">
    let editor;
    let iboard;
    let dto = [[${dto}]];
    let contents = [[${dto.contents}]];

    console.log('iboard = ' +[[${iboard}]]);
    console.log('dto.iboard =' + [[${dto.iboard}]]);

    if([[${iboard}]] == null) {
        iboard = [[${dto.iboard}]];
    } else {
        iboard = [[${iboard}]];
    }

    console.log(contents);
    console.log('/board/imageupload?iboard=' + iboard);
    console.log([[${iboard}]]);

    ClassicEditor
        .create(document.querySelector('#editor'), {
            ckfinder: {
                uploadUrl: '/board/imageupload?iboard=' + iboard
            }
        })
        .then(e => {
            editor = e;

            if(dto != null) {
                editor.setData(contents);
            }

            console.log('editor was initialized');
        })
        .catch(error => {
            console.log(error);
        });

    function updPost(flag) {
        let msg;
        let iboard;

        if(flag === 'insert') {
            msg = '등록';
            iboard = [[${iboard}]];
        } else {
            msg = '수정';
            iboard = [[${dto.iboard}]];
        }

        const dto = {
            "iboard" : iboard,
            "title" : $('#title').val(),
            "contents" : editor.getData()
        };

        $.ajax({
            type: 'put',
            url: '/board',
            contentType: "application/json",
            data: JSON.stringify(dto),
            success: function (iboard) {
                console.log(iboard);
                if (iboard !== 0) {
                    if(confirm('게시글 ' + msg +'이 완료되었습니다. ' + msg +'된 게시글을 확인하시겠습니까?')) {
                        location.href='/board/read?subject=' + [[${dto.isubject}]] + '&board=' + iboard;
                    } else {
                        location.href='/board/list?subject=' + [[${dto.isubject}]]
                    }
                } else {
                    alert("게시글 ' + msg +'에 실패하였습니다. 잠시 후 다시 시도해주세요.");
                }
            }
        });
    }

    // >>>>> 태그 출력(보류)
    // const tag = $('#tag');
    // tag.keyup(function() {
    //     $('#tag-list-child *').remove();
    //
    //     // <span className="badge bg-primary">Primary</span>
    //
    //     $.ajax({
    //         type: 'get',
    //         url: '/board/tag',
    //         data: {"tag" : tag.val()},
    //         success: function (data) {
    //             console.log("data.length = ", data.length);
    //             console.log("data = ", data);
    //
    //             $('#tag-list').css('display', 'block');
    //             data.forEach(function(data, idx) {
    //                 // $('#tag-list-child').prepend('div-tag-' + idx);
    //                 $('#tag-list-child').append(data.name);
    //                 // $('.div-tag-' + idx).html(data.name);
    //             })
    //         }
    //     })
    // });
</script>
</html>