<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="head">
<head>
    <meta charset="UTF-8">
    <title>기술 블로그</title>
</head>

<!-- markdown theme -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/toolbar/prism-toolbar.min.css' rel='stylesheet'/>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/section.css}">
<link rel="stylesheet" th:href="@{/css/nav.css}">
<link rel="stylesheet" th:href="@{/css/prism.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- webeditor -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/decoupled-document/ckeditor.js"></script>
<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

<!-- markdown 렌더링 lib -->
<!--<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>-->
<!--<script th:src="@{/js/prism.js}"></script>-->
</html>