<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="nav">
<nav>
    <a href="/" id="nav-title">My Blog.</a>
    <a href="#" class="nav-menu">Notice</a>
    <a th:href="@{/board/list?subject=5}" class="nav-menu">Dev</a>
    <a href="#" class="nav-menu">Diary</a>
    <a href="#" class="nav-menu">SONY A6000</a>
    <a href="#" class="nav-menu">Guest Book</a>
    <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a th:href="@{/admin}" class="nav-menu">Admin</a>
    </th:block>
    <th:block sec:authorize="isAnonymous()"> <!-- 익명 사용자일 경우 로그인 버튼 출력 -->
        <a th:href="@{/login}" class="nav-menu">Login</a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()"> <!-- 권한 관계없이 인증 완료 후 로그아웃 버튼 출력 -->
        <a class="nav-menu" th:onclick="logout()">Logout</a>
    </th:block>
</nav>

<script th:inline="javascript">
    function logout() {
        if (confirm('로그아웃하시겠습니까?')) { alert('로그아웃이 완료되었습니다.'); location.href = '/logout'; }
    }
</script>
</html>