<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="nav">

<nav>
    <a href="/"><img id="img-title" src="/img/img-title.jpg"></a>
    <li style="margin: 5px"><a id="name" href="/">이주영</a></li>
    <li style="margin: 5px">JAVA 백엔드 개발자</li>
    <li><a id="a1" href="/#s-1">ABOUT</a></li>
    <li><a id="a2" href="/#s-2">SKILLS</a></li>
    <li><a id="a3" href="/#s-3">PROJECTS</a></li>
<!--    <li><a id="a4" href="/#s-4">BLOG</a></li>-->
    <li><a id="a5" href="/#s-5">CONTACT</a></li>
    <br>
    <li><a th:href="@{/board/list?subject=4}">JAVA</a></li>
    <li><a th:href="@{/board/list?subject=5}">SPRING</a></li>
    <li><a th:href="@{/board/list?subject=6}">DOCKER</a></li>
    <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
        <br>
        <li><a th:href="@{/admin}">ADMIN</a></li>
    </th:block>

    <th:block sec:authorize="isAnonymous()"> <!-- 익명 사용자일 경우 로그인 버튼 출력 -->
        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/login}'|">LOGIN</button>
    </th:block>
    <th:block sec:authorize="isAuthenticated()"> <!-- 권한 관계없이 인증 완료 후 로그아웃 버튼 출력 -->
        <button type="button" class="btn btn-primary" th:onclick="logout()">LOGOUT</button>
    </th:block>
</nav>

<script th:inline="javascript">
    function logout() {
        if (confirm('로그아웃하시겠습니까?')) {
            location.href = '/logout';
        }
    }
</script>
</html>