<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="nav">
<style>
    .navbar { font-weight: 800; padding: 0.4rem 1rem !important; }
</style>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/board/">Blog</a></li>
                <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/admin}">Admin</a></li>
                </th:block>
                <th:block sec:authorize="isAnonymous()"> <!-- 익명 사용자일 경우 로그인 버튼 출력 -->
                    <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/login}">Login</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()"> <!-- 권한 관계없이 인증 완료 후 로그아웃 버튼 출력 -->
                    <li class="nav-item"><a class="nav-link" aria-current="page" onclick="logout()" style="cursor:pointer;">Logout</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>

<script th:inline="javascript">
    function logout() {
        if (confirm('로그아웃하시겠습니까?')) { alert('로그아웃이 완료되었습니다.'); location.href = '/logout'; }
    }
</script>
</html>