html {
    scroll-behavior: smooth;
    overflow: hidden;
}

li {
    list-style: none;
}

body {
    display: flex;
    margin: 0;
    width: 100%;
    /* overflow: hidden; */
}

.wrap {
    width: 100%;
}

/*tr, td {*/
/*    border-width: 3px !important;*/
/*}*/

a {
    text-decoration: none !important;
    color: #222 !important;
}