nav {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 800;
}

.nav-item > a {
    font-size: 14px;
}

/*nav > * {*/
/*    width: 15%;*/
/*}*/

/*#nav-title {*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*    padding-left: 10px;*/
/*}*/

/*.nav-menu {*/
/*    text-align: center;*/
/*    align-content: space-around;*/
/*    cursor: pointer;*/
/*}*/

/*.nav-menu:hover {*/
/*    background-color: #000;*/
/*    color: #FFF;*/
/*    transition: 0.8s;*/
/*}*/