section {
    box-sizing: border-box;
    width: 100%;
    /*position: relative;*/
    /*left: 200px;*/
    /*padding-left: 200px;*/
    margin: 20px 15px 0 220px;
    padding-right: 5px;
    height: 100vh;
    overflow: hidden;
}

/** 슬라이드 컨테이너 **/
.slide-container, .slide {
    height: 1000px;
    margin: 0 auto;
}

.slide-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    /*position: relative;*/
    /*margin-left: 200px;*/
}

.slide {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide:nth-of-type(1) {
    /* border: 3px solid red; */
}

.slide:nth-of-type(2) {
    /* border: 3px solid orange; */
}

.slide:nth-of-type(3) {
    /* border: 3px solid yellow; */
}

.slide:nth-of-type(4) {
    /* border: 3px solid green; */
}

.slide:nth-of-type(5) {
    /* border: 3px solid blue; */
}

.template {
    /* border: 1px solid gray; */
    width: 100%;
    height: 100%;
}

/** 상단 타이틀 텍스트 **/
.title {
    /*padding-left: 20px;*/
    font-family: Poppins;
    font-size: 50px;
    font-weight: bold;
}

.td-info {
    width: 100px;
}

.div-btn-wrap {
    width: 100%;
    text-align: right;
}

.table-post-read {
    display: block;
    height: 80vh;
    overflow: auto;
}

#div-error-msg {
    height: 25px;
    line-height: 25px;
    color: red;
    font-weight: bold;
}

.td-contents {
    width: 50%;
    /*height: 80vh;*/
}

/** spring security 에러 메세지 **/
.table th, .table td {
    vertical-align: top;
    border-top: none !important;
    /*text-align: center;*/
    padding: 0.5rem !important;
}

#div-markdown {
    height: 80vh;
    overflow: auto;
    text-align: left;
}

#tag-list {
    width: 100%;
    display: none;
}

.div-tag {
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.form-check-input {
    position: static;
    margin-top: 0;
    margin-left: 0;
}