<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}" layout:fragment="section">
<style>
    nav { background-color: #000 !important; }
    footer { bottom: auto; }
    .active>.page-link, .page-link.active { color: #FFF !important; }
    .py-5 { padding-top: 4rem !important; padding-bottom: 2rem !important; }
</style>
<section>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">CONTACT</h1>
                <p class="lead mb-0">궁금한 점이 있으신가요?</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
            
    </div>
</section>
</html>