<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">
<style>
    footer { bottom: auto; }
</style>
<section>
    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/magnifying-glass-tilted-right-emoji.png" alt="magnifying-glass-tilted-right-emoji"/>
        <span class="span-home-title">ABOUT ME</span>
    </div>

    <div style="display: flex">
        <img id="img-profile" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FmIArd%2FbtsIy0QEd47%2FcsGDKtXi6AManbBV7QJIDK%2Fimg.jpg" alt="프로필 이미지">
        <p class="p-home-text">KDT 과정을 수료하고 현재는 꾸준히 Network, 배포에 관련된 지식을 쌓으며 Oracle VM Virtualbox, Rocky Linux9, Docker를 통해 배포해보고 있습니다. <br> 또한 개발에 대한 흥미와 열정으로 꾸준히 개발자의 길을 걷기 위해 올해 8월 초에 방송 통신 대학교에 입학 예정입니다.</p>
    </div>

    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/hammer-and-wrench.png" alt="hammer-and-wrench"/>
        <span class="span-home-title">TECH STACK</span>
        <p class="p-home-text">Java, Spring, Spring Security, JPA, Mybatis, MYSQL, HTML5, CSS3, Javascript, JQuery, Rocky Linux, Docker ...</p>
    </div>

    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/magic-wand.png" alt="magic-wand"/>
        <span class="span-home-title">PROJECT</span>
        <p class="p-home-text">~ 준비 중 ~</p>
    </div>

    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/open-mailbox-with-raised-flag.png" alt="open-mailbox-with-raised-flag"/>
        <span class="span-home-title">CONTACT</span>
        <p class="p-home-text">~ 준비 중 ~</p>
    </div>
</section>
</html>