<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="section">
<section>
    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/magnifying-glass-tilted-right-emoji.png" alt="magnifying-glass-tilted-right-emoji"/>
        <span class="span-home-title">ABOUT ME</span>
    </div>

    <img id="img-profile" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FmIArd%2FbtsIy0QEd47%2FcsGDKtXi6AManbBV7QJIDK%2Fimg.jpg" alt="프로필 이미지">

    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/hammer-and-wrench.png" alt="hammer-and-wrench"/>
        <span class="span-home-title">TECH STACK</span>
    </div>

    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/magic-wand.png" alt="magic-wand"/>
        <span class="span-home-title">PROJECT</span>
    </div>

    <div>
        <img width="96" height="96" src="https://img.icons8.com/emoji/96/open-mailbox-with-raised-flag.png" alt="open-mailbox-with-raised-flag"/>
        <span class="span-home-title">CONTACT</span>
    </div>
</section>
</html>