<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default-layout}" layout:fragment="section">
<style>
    table { width: 400px !important; }
    #f { width: 100%; display: flex; justify-content: center; }
    .py-5 { padding-top: 4rem !important; padding-bottom: 2rem !important; }
</style>
<section>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">로그인</h1>
                <p class="lead mb-0">로그인을 위한 페이지입니다.</p>
            </div>
        </div>
    </header>
    <form id="f" th:action="@{/login}" th:method="post">
        <table class="table" th:object="${dto}">
            <!-- >>>>> sprint security 적용 전(BindingResult 사용) -->
<!--            <div id="div-error-msg" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}" th:text="${error}">아이디 혹은 패스워드를 확인해주세요.</div>-->
            <tbody>
            <!-- >>>>> spring security 자격 증명 실패 시 출력되는 메세지 -->
            <tr class="alert alert-dismissible alert-danger center" role="alert" th:if="${param.error != null}" style="margin-bottom: 20px">
                <td colspan="2" style="background-color: #f7dddc !important">아이디 혹은 패스워드를 확인해주세요.</td>
            </tr>
            <tr>
                <td>아이디</td>
                <td><input type="text" id="uid" name="uid" class="form-control"></td>
            </tr>
            <tr>
                <td>패스워드</td>
                <td><input type="password" id="upw" name="upw" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right"><button type="button" class="btn btn-success" th:onclick="login()">LOGIN</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</section>

<script>
    document.addEventListener('keyup', (e) => {
        if (e.keyCode == 13) { login(); }
    });

    function login() {
        const uid = $('#uid');
        const upw = $('#upw');

        if(!uid.val()) { alert("아이디가 입력되지 않았습니다."); }
        else if(!upw.val()) { alert("패스워드가 입력되지 않았습니다."); }
        else { $('#f').submit(); }
    }
</script>
</html>